* {
    box-sizing: border-box;    
    margin: 0;
    /* удаление вертикальных margin между элементами, кот. ставит браузер*/
    padding: 0;
    /* в 6 IE min высота дива 20px*/
    font-size: 100.01%;    
    --fsize: 16px; /*базовый размер шрифта*/
}

@media (min-width: 576px) and (max-width: 767px) {
    .slider-container {
        --width-window: 100vw;        
        width: var(--width-window);
    }

    section1 section2 section3 section4 {
        --fsize: 12px;
        }

    .slider {
        --slider-cols: 1;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider-container {
        --width-window: 80vw;        
        width: var(--width-window);
    }

    section1 section2 section3 section4 {
    --fsize: 12px;
    }

    .slider {
        --slider-cols: 1;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .slider-container {
        --width-window: 70vw;
        width: var(--width-window);       
    }

    section1 section2 section3 section4 {
        --fsize: 14px;
    }

    .slider {
        --slider-cols: 2;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .slider-container {
        --width-window: 60vw;       
        width: var(--width-window);
    }

    section1 section2 section3 section4 {
        --fsize: 16px;
    }

    .slider {
        --slider-cols: 2;
    }
}

@media (min-width: 1400px) {
    .slider-container {
        --width-window: 80vw;        
        width: var(--width-window);
    }

    section1 section2 section3 section4 {
        --fsize: 18px;
    }

    .slider {
        --slider-cols: 3;
    }
}

section1>.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 94vh;   
    margin-top: 6vh;   
    overflow: hidden;
    background-color: rgb(250, 245, 224);    
    font-size: var(--fsize);
}

section2>.fone {
    height: 250vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(250, 245, 224, 0.8)),
        url("Images/nebo.jpg");
    background-size: contain;
    background-repeat: no-repeat;    
    background-attachment: fixed;
}

section4 > div.picture3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("Images/781.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}

@font-face {
    font-family: MarckScript-Regular;
    src: url(Marck_Script/MarckScript-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@keyframes textmove {
    from {
        opacity: 0;
        transform: translateY(150%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.navpannel {
    width: 100vw; 
    height: 6vh;   
    position: fixed;
    top: 0;
    left: 0;   
    /*если позиция fixed, то bottom - от нижнего края экрана*/
    background-color: rgb(250, 245, 224);
    
}

ul.nav {
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 0px;
    list-style: none;
    background-color: #f4f4f4;
}

ul.nav li {
    float: left;
}

ul.nav a {
    display: block;
    width: 5em;
    padding: 10px;
    margin: 0 5px;
    background-color: #f4f4f4;   
    text-decoration: none;
    font-size: calc(var(--fsize) + .3vw);
    color: #333;
    text-align: center;
}

ul.nav a:hover {
    background-color: #333;
    color: #f4f4f4;
}

li div.dropdown {
    position: relative;
    display: inline-block;
}

li div>div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: calc(var(--fsize)*30);
    min-height: auto;
    max-width: 60vw;
    max-height: 70vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--fsize) + .3vw);
    /* color: rgb(75, 0, 130); */
    font-style: oblique;
    color: rgb(128, 0, 128);
    text-indent: 1.5em
}

li>div>div> ul.artclelist {   
    width: 100px; 
    height: auto; 
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--fsize) + .3vw);
    /* color: rgb(75, 0, 130); */
    font-style: oblique;
    color: rgb(128, 0, 128);
    margin-top: 0;
    margin-left: 0px;
    padding-left: 2px;
}

/* ul.artclelist a:hover {    
    background-color: rgb(75, 0, 130);
    color: #f4f4f4;
} */

.logo {
    display: block;   
    width: 548px;
    height: 223px;  
    max-width: 100%;
    max-height: 100%;    
    object-fit: scale-down;     
}

section1 > div > p.text {
    animation-duration: 5s;
    animation-name: textmove;
    text-align: center;
    font-family: MarckScript-Regular;
    /* font-size: 2.5em; */
    font-size: calc(var(--fsize)+3.6vw);
    color: green;
    display: block;      
}

.picture1 {
    min-width: 400px;
    min-height: 0px;  
    max-width: 100%;  
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    margin-top: 20px;   
}

section2> .fone > .text1 p.head1 {
    text-align: center;
    padding-top: 2.5vh;   
    padding-bottom: 1.5vh;   
    font-size: calc(var(--fsize)+3.4vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(153, 50, 204);
}

section2 > .fone > .text1 {
    padding-left: 10vw;
    display: block; 
    max-width: 80vw;
    min-width: 0;
    max-height: 150vh;
    min-height: 0;
    font-size: calc(var(--fsize)+1.7vw);
    font-weight: 550;
    /*насыщенность цвета текста*/
    font-family: 'Courier New', Courier, monospace;
    /* color: rgb(75, 0, 130); */
    font-style: oblique;
    color: rgb(128, 0, 128);
    text-indent: 1.5em;
    /*отступ - красная строка абзаца*/
}

section2 > .fone > .text1 > p {
    margin-top: .5em;  /*рассояние между строками*/
}

section2 div q {
    color: rgb(153, 50, 204);
    font-style: italic;  
}

section2 > .fone > .text2 {
    padding-top: 40px;
    padding-left: 10vw;
    display: block;
    max-width: 80vw;
    min-width: 0;
    max-height: 100vh;
    min-height: 0;
    font-size: 30px;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    /* color: rgb(75, 0, 130); */
    font-style: oblique;
    color: rgb(128, 0, 128);
}

section2 > .fone > .text2 > p.head2 {
    text-align: center;
    text-decoration: underline;
    font-size: calc(var(--fsize)+3.2vw);
    padding-top: 2.5vh;
    /* padding-bottom: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(153, 50, 204);
}

section2 > .fone > .text2 > ul {
    padding-top: calc(var(--fsize)+2vw);
    font-size: calc(var(--fsize)+2.2vw);
    text-align: center;
    list-style-type: none;     
}

/* section2 > .fone > .text2 > ul:nth-child(2n+1)::after {
    content: \273f \2740 \273f;  
} */

.slider-container {
    overflow-x: hidden;
    position: relative;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;   
}

.slider {
    /* overflow-x: hidden; */
    touch-action: pan-x;
    height: 100%;
    /* width: 100%;    */
    display: flex;
    position: absolute;
    top: 0px;
    /* left: calc((100% - var(--width-window)) / 2)vw; */
    left: 0px;
    bottom: 0px;
    right: 0px;
    /* margin: auto; */
    background-color: rgb(250, 245, 224);
}

.slider-el {
    background-color: antiquewhite;
}

.slider-el {
    flex-shrink: 0;
    transition: opacity .5s;
    --margin: 8px;
    /* flex-basis: calc((var(--width-window) - var(--slider-cols) * var(--margin) * 2) / var(--slider-cols)); */
    width: calc((var(--width-window) - var(--slider-cols) * var(--margin) * 2) / var(--slider-cols));
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 48px;
    display: flex;
    margin: 0 8px;
}

.slider-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(233, 248, 23);
    opacity: 0.3;
    cursor: pointer;
    outline: none;
    transition: opacity .3s;
    border: 1px solid black;
}

.slider-btn:hover {
    opacity: 0.6;
}

.slider-btn-left {
    left: 1.5rem;
}

.slider-btn-right {
    right: 1.5rem;
}

.slider-img {
    object-fit: cover;
}

section3 section4 {
    height: 100vh;
    width: 100vw;
    display: block;
}

section3 > div.text3 {
    text-align: left;
    font-size: 23px;
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 550;
    color: rgb(153, 50, 204);
    text-indent: 1.5em;
    background-color: rgb(250, 245, 224);
}

section3 > div.text3 > p {
    margin-top: .5em;
}

section4 > div > .telef {
    animation-duration: 5s;
    animation-name: textmove;
    position: absolute;
    height: 20vh;
    width: 50vw;
    padding: 20px;
    top: 60vh;
    left: calc(100vw/2 - 50vw/2);
    font-size: calc(var(--fsize) + 1vw);
    text-align: center;   
    background-color: rgb(250, 245, 224);
}
